/*
Theme Name: WPAustralia.org BuddyPress Child theme
Theme URI: http://www.wpaustralia.org/
Description: A quick child theme for WPAustralia
Version: 1.0
Author: Bronson Quick, Japheth Thomson, Brent Shepherd, Anthony Hortin
Author URI: http://www.wpaustralia.org/
Template: bp-default
Tags: buddypress, two-column, grey, dark
*/
/* Note: BuddyPress is now so awesome that we don't even need to use an @import to get style.css from the parent :) */

body {
	font-family: "Open Sans", Arial, Tahoma, Verdana, sans-serif;
	font-size: 1em;
	line-height: 1.714285714;
	color: #444;
}
input, textarea, keygen, select, button, isindex {
	font-family: "Open Sans", Arial, Tahoma, Verdana, sans-serif;
}
p {
	margin: 0 0 24px;
	margin: 0 0 1.714285714rem;
}
#header {
	z-index: 1;
	background-repeat: no-repeat;
	padding-top: 0;
}
#header #search-bar {
	text-align: inherit;
	margin-top: 0;
}
#header h1 a {
	text-indent: -9999px;
	height: 103px;
	width: 300px;
	display: block;
}
#navigation {
	position: static;
}
#nav {
	margin: 0;
}
#nav .sfhover ul li,
#nav :hover ul li {
	width: 202px;
}

div#container {
	position: inherit;
	border-radius: 0;
}
#whats-new-options {
	overflow: hidden;
}
form#whats-new-form textarea {
	border-radius: 0;
}
div.item-list-tabs ul li a {
	height: auto;
}

#respond {
	border-radius: 0;
}
img.avatar {
	padding: 1px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
button, a.button, input[type=submit], input[type=button], input[type=reset], ul.button-nav li a, div.generic-button a, .comment-reply-link {
	border-radius: 0;
}

.like,
.unlike,
.view-likes,
.acomment-reply,
.acomment-delete,
.spam-activity-comment,
.bpm-unflagged,
.bpm-flagged {
	background: #fff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#ededed 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#ededed 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #ffffff 0%,#ededed 100%); /* W3C */
	border: 1px solid #ccc;
	color: #777;
	cursor: pointer;
	outline: none;
	text-align: center;
	text-decoration: none;
	margin-right: 5px;
}
.like:hover,
.unlike:hover,
.view-likes:hover,
.acomment-reply:hover,
.acomment-delete:hover,
.spam-activity-comment:hover,
.bpm-unflagged:hover,
.bpm-flagged:hover {
	background: #ededed;
	background: -moz-linear-gradient(top, #ffffff 0%, #e0e0e0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#e0e0e0 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#e0e0e0 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #ffffff 0%,#e0e0e0 100%); /* W3C */
	border: 1px solid #bbb;
	color: #555;
	outline: none;
	text-decoration: none;
}
.like:before {
	content: '\f418';
	margin-right: 5px;
}

.acomment-reply.genericon-reply:before {
	content: '\f412';
	margin-right: 5px;
}

#respond .form-submit {
	margin-bottom: 10px;
}
.standard-form label.subscribe-label,
.standard-form label.subscribe-label {
	display: inline;
}
p.comment-subscription-form {
	margin-bottom: 0;
}

.acomment-options a {
	color: #666;
}
.bpm-unflagged .bpm-inner-text,
.bpm-flagged .bpm-inner-text {
	text-decoration: none;
}
.bpm-no-images .bpm-inner-text {
	padding-left: 20px;
	background: url(../../plugins/bp-moderation/css/sprite.png) no-repeat;
}
#nav ul {
	border: 0;
}
ul#nav ul li {
	margin-bottom: 0;
}
ul#nav ul li:nth-child(even) {
	margin-left: 0;
}
#navigation ul#nav li a {
	border-radius: 0;
}
#bbpress-forums ul.bbp-lead-topic,
#bbpress-forums ul.bbp-topics,
#bbpress-forums ul.bbp-forums,
#bbpress-forums ul.bbp-replies,
#bbpress-forums ul.bbp-search-results {
	font-size: 14px;
}

#bbpress-forums .bbp-forum-info .bbp-forum-content,
#bbpress-forums p.bbp-topic-meta {
	font-size: 12px;
}

#bbpress-forums .bbp-reply-content li {
	list-style: decimal;
}

#bbpress-forums .bbp-reply-content ol {
	margin: 0 0 18px 1.5em;
}

#meetup_oembed {
	margin-bottom: 10px !important;
}
div.item-list-tabs {
	background: none;
}
h1, h2, h3, h4, h5, h6 {
	line-height: 1.3em;
}
.activity-list li.load-more {
	border-radius: 0;
	text-decoration: none;
}
.activity-list li.load-more a {
	text-decoration: none;
	display: block;
}

div.activity-meta a,
a.bp-primary-action,
#reply-title small a,
a.bp-secondary-action,
a.acomment-delete,
a.spam-activity-comment,
a.acomment-reply,
a.like,
a.view-likes,
a.like,
a.view-likes {
	font-family: 'Genericons', Arial, Tahoma, Verdana, sans-serif;
	padding: 3px 7px 7px 7px;
	font-size: 14px;
}
a.bp-primary-action span,
#reply-title small a span {
	padding: 0 4px 4px 4px;
}
div.activity-comments form .ac-textarea,
div.activity-comments form.ac-form {
	border-radius: 0;
}
div.item-list-tabs {
	margin: 25px -19px 25px -19px;
	background-color: #efefef;
}
div.item-list-tabs ul li a,
div.item-list-tabs ul li span {
	display: inline;
}
div.item-list-tabs ul li {
	margin: 0 0 0 5px;
}
div.item-list-tabs ul li.selected a,
div.item-list-tabs ul li.current a {
	-moz-border-radius-topleft: 0;
	-webkit-border-top-left-radius: 0;
	border-top-left-radius: 0;
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
#activity-all:before,
#activity-friends:before,
#activity-favorites:before,
#activity-mentions:before {
	font-family: 'Genericons', Arial, Tahoma, Verdana, sans-serif;
	padding: 3px 0 4px 3px;
	font-size: 23px;
	position: relative;
	top: 4px;
}
#activity-all:before {
	content: '\f425';
}
#activity-friends:before {
	content: '\f304';
}
#activity-favorites:before {
	content: '\f408';
}
#activity-mentions:before {
	content: '\f109';
}
#activity-all.selected:before,
#activity-friends.selected:before,
#activity-favorites.selected:before,
#activity-mentions.selected:before {
	background-color: #fff;
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
}

.spam-activity:before,
.spam-activity-comment:before {
	content: '\f414';
	margin-right: 7px;
	position: relative;
	top: 2px;
}
.genericon-star:before {
	line-height: 1.2;
}
.like:before {
	position: relative;
	top: 2px;
}
@media all and (min-width: 0px) and (max-width: 600px) {
	div.bbp-topic-header,
	div.bbp-reply-header,
	li.bbp-body div.hentry {
		padding-left: 15px;
	}

	li.bbp-header div.bbp-topic-content span#subscription-toggle,
	li.bbp-header div.bbp-topic-content span#favorite-toggle,
	li.bbp-header div.bbp-reply-content span#subscription-toggle,
	li.bbp-header div.bbp-reply-content span#favorite-toggle {
		float: none;
	}

	li.bbp-header .bbp-reply-author {
		display: none;
	}

	#bbpress-forums div.bbp-topic-author .bbp-author-role,
	#bbpress-forums div.bbp-reply-author .bbp-author-role {
		padding-bottom: 1px;
	}

	#bbpress-forums div.bbp-topic-content,
	#bbpress-forums div.bbp-reply-content,
	#bbpress-forums div.bbp-topic-author a.bbp-author-name,
	#bbpress-forums div.bbp-reply-author a.bbp-author-name,
	#bbpress-forums li.bbp-header .bbp-topic-content,
	#bbpress-forums li.bbp-footer .bbp-topic-content,
	#bbpress-forums li.bbp-header .bbp-reply-content,
	#bbpress-forums li.bbp-footer .bbp-reply-content {
		margin-left: 0;
	}

	#bbpress-forums div.bbp-topic-author,
	#bbpress-forums div.bbp-reply-author {
		text-align: left;
		width: 95px;
	}

	blockquote {
		padding: 0;
	}

	span.bbp-admin-links {
		clear: both;
		float: left;
	}
}